POSTGRES_PASSWORD=th7-local-not-for-production
REDIS_PASSWORD=th7-local-not-for-production
RABBITMQ_PASSWORD=th7-local-not-for-production
GRAFANA_USER=th7_dev
GRAFANA_PASSWORD=th7-local-not-for-production